.rating {
  display: flex;
  align-items: center;
  
  @media screen and (max-width:650px) {
    height: 30px;
  }
}

.rate {
  float: right;

  @media screen and (max-width: 650px) {
    float: left;
  }
}

@media screen and (max-width: 1440px) {
  span svg {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 650px) {
  span svg {
    width: 15px;
    height: 15px;
  }
}