.list-item {
  width: 85%;
  background-color: #FF6060;
  display: flex;
  margin: 0 auto;
  margin-top: 16px;
  border-radius: 5px;
  padding: 0 24px;
  height: 48px;
  justify-content: space-between;
  text-decoration: none;
  width: 90%;
}

.icon-wrapper {
  position: relative;
  top: 30%;
  right: 0%;
}

.list-wrapper {
  list-style: none;
  display: block;
  margin-bottom: 88px;
  width: 80%;
  position: relative;
  left: 10%;

  li {
    margin: 32px 0;
  }
}

.collapsed-text {
  height: 0;
  width: 90%;
  height:auto;
  margin:0 auto;
  color: #ff6060;
  background-color: #f7f7f7;
  padding: 23px;
  border-radius: 5px;

  p {
    font-size: 24px;
  }
}
