.header {
  height: 120px;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 80px;
  padding: 10px 19px;

  img {
    height: 80px;
    width: auto;
    margin: 15px 20px;
    padding: 14px;
  }
}

.Nav-Btn-Wrapper {
  display: flex;
  margin-top: 16px;
  // background-color: #FF6060;
  width: 250px;
}

.Home-page {  
  list-style: none;
  margin: 0 32px;
  color: #FF6060;
  cursor: pointer;
  font-size: 24px;
  margin-top: 40px;
  text-decoration: none;  
}

.About-page {
  list-style: none;
  margin: 0 32px;
  color: #FF6060;
  cursor: pointer;
  font-size: 24px;
  margin-top: 40px;
  text-decoration: none;
  position: absolute;
  // top: 1%;
  right: 1%;

  &.active {
    text-decoration-line:underline;
  }

  .about {
    list-style: none;
    margin: 0 32px;
    color: #FF6060;
    cursor: pointer;
    font-size: 24px;
    margin-top: 40px;
    text-decoration: none;
  
    &.active {
      text-decoration-line: underline;
    }
  }
}

@media screen and (max-width: 650px) {
  
  .header {
    width: 100%;
    height: 80px;    
  }
  
  .navbar {
    padding: 10px 0px;
    margin-bottom: -20px;
  }

  .Home-page, .About-page {
    // padding: 0px 0;
    margin: 0 10px;
    font-size: 12px;  
    font-weight: 500; 
  }

  .navbar>img {
    width: auto;
    height: 44px;
    padding: 2px;
    margin: 11px 20px;
  }
  
  .Nav-Btn-Wrapper {
    display: flex;
    margin-top: 16px;
    text-transform: uppercase;
    padding: 13px;
    width: 140px!important;
  }
}



