footer {
  width: 100%;
  background-color: black;
  height: 209px;
  text-align: center;
  margin-top: 40px;

  img {
    margin-top: 50px;
  }

  p {
    text-align: center;
    color: white;
  }
}
